classes/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:api-platform-gw="http://www.mulesoft.org/schema/mule/api-platform-gw" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/api-platform-gw http://www.mulesoft.org/schema/mule/api-platform-gw/current/mule-api-platform-gw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="api-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="api-config" raml="api.raml" consoleEnabled="false" doc:name="Router"/>
    <http:request-config name="HTTP_Request_Configuration" host="dev-794482.oktapreview.com" port="443" doc:name="HTTP Request Configuration" protocol="HTTPS"/>
    <api-platform-gw:api apiName="okta" version="1" flowRef="api-main" create="true" apikitRef="api-config" doc:name="API Autodiscovery"/>
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/okta/*" doc:name="HTTP"/>
        <apikit:router config-ref="api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="api-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="post:/getToken:api-config">
        <http:request config-ref="HTTP_Request_Configuration" path="/oauth2/ausbdwmljyp3p4f780h7/v1/token" method="POST" doc:name="HTTP"/>
        <logger level="INFO" doc:name="Logger"/>

    </flow>
    <flow name="post:/validateToken:api-config">
        <http:request config-ref="HTTP_Request_Configuration" path="/oauth2/ausbdwmljyp3p4f780h7/v1/introspect" method="POST" doc:name="Copy_of_HTTP">
            <http:request-builder>
                <http:header headerName="Authorization" value="Basic MG9hYmRuZWx5dVVjRmVCU1QwaDc6RlVjWmxOZllkMFhtRXhxcDF4amJ4VmJGcHAyejhjazFvc3BPejhpSA=="/>
                <http:header headerName="Accept" value="application/json"/>
            </http:request-builder>
        </http:request>
<json:json-to-object-transformer returnClass="java.lang.Object" doc:name="JSON to Object" />
        <set-variable variableName="active" value="#[message.payload.active]" doc:name="Active_check_status"/>
        <choice doc:name="Choice">
            <when expression="flowVars.active == 'true'">
                <set-property propertyName="Content-type" value="application/json" doc:name="Property"/>
                <set-payload value="{ &quot;active&quot;:&quot;#[message.payload.active]&quot;, &quot;msg&quot;:&quot;Token verified successfully&quot;, &quot;user&quot;:&quot;#[message.payload.username]&quot;, &quot;favPlayer&quot;:&quot;#[message.payload.sports_name_sachin]&quot;, &quot;scope&quot;:&quot;#[message.payload.scope]&quot; }" doc:name="Set Payload"/>
            </when>
            <otherwise>
            	 <set-property propertyName="Content-type" value="application/json" doc:name="Property"/>
                <set-payload value="{ &quot;active&quot;:&quot;#[message.payload.active]&quot;, &quot;msg&quot;:&quot;Token expired&quot; }" doc:name="Set Payload"/>
            </otherwise>
        </choice>

        <logger level="INFO" doc:name="Copy_of_Logger"/>
    </flow>
    <flow name="post:/revokeToken:api-config">
        <http:request config-ref="HTTP_Request_Configuration" path="/oauth2/ausbdwmljyp3p4f780h7/v1/revoke" method="POST" doc:name="Copy_of_HTTP">
            <http:request-builder>
                <http:header headerName="Authorization" value="Basic MG9hYmRuZWx5dVVjRmVCU1QwaDc6RlVjWmxOZllkMFhtRXhxcDF4amJ4VmJGcHAyejhjazFvc3BPejhpSA=="/>
                <http:header headerName="Accept" value="application/json"/>

            </http:request-builder>
        </http:request>

        <set-property propertyName="Content-type" value="application/json" doc:name="Property"/>

        <set-payload value="{
&quot;msg&quot;:&quot;token revoked&quot;
}" doc:name="Set Payload"/>
        <logger level="INFO" doc:name="Copy_of_Logger"/>
    </flow>
    <apikit:mapping-exception-strategy name="api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
    
</mule>
